
.career__description-box,
.portfolio__description-box{
    display: flex;
    flex-direction: column;
    min-width: 700px;
    margin-left: 20px;
}
.career__description-box_title,
.portfolio__description-box_title{
    display: block;
    font: normal 35px/40px FiraSans-Medium;
    text-align: left;
    margin-bottom: 25px;
}
.career__description-box_detail{
    display: flex;
    justify-content: space-between;
}
.career__img{
    width: 220px;
    height: 220px;
    background: url("../img/content/Career_img.png") -90px -10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.career__data{
    width: 380px;
    list-style: none;
}

.career__data_item {
    margin-bottom: 20px;
    position: relative;
    min-height: 110px;
    background: #ffffff;
    padding: 10px 20px;
    line-height: 1.42;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.career__data_item:hover {
    color: #ffffff;
    background: #33c1e3;
}
.career__data_item-where{
    margin: 0;
    font-family: "FiraSans-Regular";
}

.career__data_item-position,
.career__data_item-when{
    font-family:FiraSans-Light;
    font-size: 18px;
}
.career__data_item-indicator{
    font: normal 14px/26px FiraSans-Light;
    position: absolute;
    left: -62px;
    top:34%;
    color: #414141;
}
.career__data_item-indicator.circle{
    width: 10px;
    height: 10px;
    position: absolute;
    top:40%;
    left: -25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #33c1e3;
    z-index:2;
}
.career__data_item-indicator.circle-big{
    width: 20px;
    height: 20px;
    position: absolute;
    top:36%;
    left: -30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #94e0f2;
    display: none;
    z-index:1;
}
.career__data_item:hover .career__data_item-indicator.circle-big{
    display: block;
}
.career__data_item-indicator-line{
    width: 1px;
    height: 112px;
    background: #dddddd;
    position: absolute;
    top:53%;
    left: -21px;
    z-index:0;
}