.footer{
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background: #414141;
  color: #929292;
}
.footer .container{
  height: 100%;
  font-size: 14px;
}
.footer-text{
  float: left;
  line-height: 50px;
}
.footer-social{
  width: 105px;
  float: right;
  padding-top: 10px;
}
.footer-social__link{
  display: inline-block;
  width: 32px;
  height: 30px;
  background: url("../img/icons/social_bt.png") no-repeat;
}
.footer-social__link_fb {background-position: left bottom;}
.footer-social__link_fb:hover {background-position-y: top;}
.footer-social__link_vk {background-position: -38px bottom;}
.footer-social__link_vk:hover {background-position-y: top;}
.footer-social__link_tw {background-position: -75px bottom;}
.footer-social__link_tw:hover {background-position-y: top;}