.footer{
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background: #414141;
  color: #929292;
}
.footer .container{
  height: 100%;
  font-size: 14px;
}
.footer-text{
  float: left;
  line-height: 50px;
}
.footer-social{
  width: 105px;
  float: right;
  padding-top: 10px;
}
.footer-social a {
  display: inline-block;
  width: 31px;
  height: 30px;
  background: url("../img/icons/social_bt.png") no-repeat;
}
a.footer-social__fb {background-position: left bottom;}
a.footer-social__fb:hover {background-position-y: top;}
a.footer-social__vk {background-position: -38px bottom;}
a.footer-social__vk:hover {background-position-y: top;}
a.footer-social__tw {background-position: -76px bottom;}
a.footer-social__tw:hover {background-position-y: top;}