$footer-height:50px;
$red:#e85f61;
$blue:#33c1e3;

@import "layout/normalize";
@import "layout/settings";
@import "layout/fonts";
@import "layout/animate";
@import "layout/start";
@import "layout/header";
@import "layout/aside";
@import "layout/footer";
@import "layout/about";
@import "layout/career";
@import "layout/portfolio";
@import "layout/media";

