.portfolio__data_item{
    width: 220px;
    min-height: 281px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: inline-block;
    float: left;
    overflow: hidden;
    cursor: pointer;
    &:nth-child(1),
    &:nth-child(4){
            margin-left: 0;
    }
}
.portfolio__data_item-top{
    width: 100%;
    height: 172px;
    background: url("../img/content/Portf_item1.png");
}
.portfolio__data_item-bottom{
    min-height: 109px;
    padding:20px 0px 35px 20px;
    background: #ffffff;
    position: relative;
}
.portfolio__data_item-bottom .item-title{
    font: normal 21px/24px FiraSans-Regular;
    color: #33c1e3;
}
.portfolio__data_item-bottom:hover .item-title{
    color: #e85f61;
}
.portfolio__data_item-bottom .item-features{
    font: normal 14px/21px FiraSans-Light;
}
.portfolio__data_item-bottom .item-type{
    color: #aeaeae;
    font: bold 14px/24px FiraSans-Bold;
    position: absolute;
    bottom: 10px;
}
.portfolio__data_item-bottom .item-type:before{
    font-family: FontAwesome;
    font-size: 18px;
    content: "\f10b";
    margin-right: 10px;
}

.portfolio__data_item.some .portfolio__data_item-top{
    background: url("../img/content/Portf_item2.png");
}