.about-ava {
    width: 230px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    margin-left: 55px;
    display: inline-block;
    float: left;
}

.about-description {
    width: 40.4%;
    display: inline-block;
    margin-left: 55px;
}
.about-description__title{
    margin: -3px 0 20px 0;
}
.about-description__text {
    height: 330px;
    font: 300 18px/26px "FiraSans-Light";
    overflow-y: scroll;
    line-height: 1.42;
    margin-bottom: 40px;
    padding-right: 25px;
}
.about-description__text_item{
    margin: -5px 0 15px 0;
}
.about-description__text::-webkit-scrollbar {
    width: 5px;
}

.about-description__text::-webkit-scrollbar-track {
    border-radius: 5px;
}

.about-description__text::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #d8d8d8;
}
.about-description__link {
    width: 173px;
    height: 40px;
    color: $red;
    padding: 5px 0;
    margin-bottom: 30px;
    font: bold 15px/28px "FiraSans-Bold" ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid $red;
    border-radius: 20px;
    float: right;
    transition: all .5s;
    &:hover {
        background: $red;
        color: #ffffff;
        transition: all .5s;
    }
    &:before {
        font: bold 15px/28px FontAwesome;
        color: $red;
        content: "\f019";
        margin-right: 10px;
    }
    &:hover:before{
        color: #ffffff;
    }
}

