.career-description,
.portfolio-description{
    display: inline-block;
    width: 76.6%;
    padding-left: 20px;
}
.career-description__title,
.portfolio-description__title{
    margin: 0;
    padding: 0;
    font: normal 35px/40px FiraSans-Medium;
    text-align: left;
    margin-bottom: 20px;
}

.career-description__img{
    width: 31.5%;
    background: url("../img/content/Career_img.png") -90px -10px;
    border-radius: 5px;
    float: left;
}
.career-description__data{
    width: 54%;
    list-style: none;
    float: right;
}

.career-description__data_item{
    margin-bottom: 20px;
    position: relative;
    max-height: 110px;
    background: #ffffff;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    &:hover {
        color: #ffffff;
        background: $blue;
        .career-description__data_item-indicator-circle-big{
            display: block;
        }
        .career-description__data_item-indicator{
            font: bold 18px/28px FiraSans-Bold;
            color: $blue;
            left: -72px;
            top:33.5%;
        }
    }
    &-where{
        margin: 0;
        font: normal 21px/26px FiraSans-Regular;
    }
    &-position,
    &-when{
        font: normal 18px/26px FiraSans-Light;
    }
    &-indicator{
        font: normal 14px/26px FiraSans-Light;
        position: absolute;
        left: -62px;
        top:34%;
        color: #414141;
        &-circle{
            width: 10px;
            height: 10px;
            position: absolute;
            top:40%;
            left: -25px;
            border-radius: 5px;
            background: $blue;
            z-index:2;
        }
        &-circle-big{
            width: 20px;
            height: 20px;
            position: absolute;
            top:36%;
            left: -30px;
            border-radius: 10px;
            background: #94e0f2;
            display: none;
            z-index:1;
        }

    }
    &-indicator-line{
        width: 1px;
        height: 112px;
        background: #dddddd;
        position: absolute;
        top:53%;
        left: -21px;
        z-index:0;
    }
}
