@font-face {
    font-family: FiraSans-Bold;
    src: url('../font/FiraSans/FiraSans-Bold.ttf');
}
@font-face {
    font-family: FiraSans-Light;
    src: url('../font/FiraSans/FiraSans-Light.ttf');
}
@font-face {
    font-family: FiraSans-Medium;
    src: url('../font/FiraSans/FiraSans-Medium.ttf');
}
@font-face {
    font-family: FiraSans-Regular;
    src: url('../font/FiraSans/FiraSans-Regular.ttf');
}
@font-face {
    font-family: FontAwesome;
    src: url('../font/FontAwesome/FontAwesome.otf');
}
@font-face {
    font-family: fontawesome-webfont;
    src: url('../font/FontAwesome/fontawesome-webfont.ttf');
}