.footer{
  width: 100%;
  height: $footer-height;
  margin-top: -$footer-height;
  font-size: 14px;
  background: #414141;
  color: #929292;
  overflow: hidden;
}
.footer-text{
  font: normal 14px/21px FiraSans-Light;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  &:before{
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}
.footer-social{
  width: 105px;
  height: 100%;
  padding-top: 10px;
  float: right;
}
.footer-social__link{
  display: inline-block;
  width: 32px;
  height: 30px;
  background: url("../img/icons/social_bt.png") no-repeat;
}
.footer-social__link_fb {background-position: left bottom;}
.footer-social__link_fb:hover {background-position-y: top;}
.footer-social__link_vk {background-position: -38px bottom;}
.footer-social__link_vk:hover {background-position-y: top;}
.footer-social__link_tw {background-position: -75px bottom;}
.footer-social__link_tw:hover {background-position-y: top;}