.header {
    width: 100%;
    height: 80px;
    margin-bottom: 25px;
    background: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.person {
    padding-top: 10px;
    float: left;
}

.person__ava {
    width: 62px;
    height: 62px;
    background-color: #d6d6d7;
    padding: 2px;
    border-radius: 50%;
    vertical-align: middle;
}

.person__name {
    max-width: 250px;
    margin-top:0;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    font: 600 18px/28px FiraSans-Regular;
}

.contacts {
    height: 90%;
    line-height: 80px;
    float: right;
    position: relative;
    &:hover .contacts__detail{
        display: block;
    }
    &:hover .contacts__title{
        color: $red;
        border-bottom: 2px dotted $red;
        transition: all .3s
    }

}

.contacts__title {
    text-decoration: none;
    font: 600 18px/28px FiraSans-Bold;
    color: $blue;
    border-bottom: 2px dotted $blue;
    cursor: pointer;
    }

.contacts__title-icon:before{
    content: "\f095";
    color: $blue;
    font: normal 38px/38px FontAwesome;
    display: none;
}
/* -------выпадашка------- */

.contacts__detail{
    width: 210px;
    position: absolute;
    top: 70px;
    left: -45px;
    color: $blue;
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 10px;
    z-index:5;
    display: none;
        &:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: -12px;
            left: 98px;
            border-bottom: 12px solid #dedede;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
        }
        &:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: -11px;
            left: 98px;
            border-bottom: 12px solid #ffffff;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
        }

}
.contacts__detail_item{
    width: 100%;
    height: 44px;
    text-align: left;
    line-height: 44px;
    list-style: none;
    padding: 10px;
    a {
        display: block;
        text-decoration: none;
        font: normal 18px/28px FiraSans-Light;
        color: $blue;
        &.post:before {
            content: "\f0e0";
            font: normal 18px/24px FontAwesome;
            margin-right: 10px;
        }

        &.phone:before {
            content: "\f095";
            font: normal 18px/24px FontAwesome;
            margin-right: 10px;
        }
        &.skype:before {
            content: "\f17e";
            font: normal 18px/24px FontAwesome;
            margin-right: 10px;
        }
    }
}
/* -------Конец выпадашки-------*/
