/* Ноутбук:
	Ширина экрана - 992px
    Ширина контейнера - 750px */
@media screen and (max-width: 992px) {
    .container {
        width: 750px;
    }

    .about-ava {
        margin-left: 30px;
    }

    .about-description{
        width: 44%;
    }
    .about-description__title{
        margin-bottom: 10px;
    }
    .about-description__text {
        padding-right: 10px;
    }
    .portfolio-description{
        padding-left: 0;
    }
    .career-description__title,
    .portfolio-description__title {
        margin-bottom: 20px;
    }
    .portfolio-description__title {
        margin-left:20px;
    }
    .career-description__data_item-position,
    .career-description__data_item-when {
        font: normal 16px/26px FiraSans-Light;
    }

    .career-description__data_item-where {
        font: normal 19px/26px FiraSans-Regular;
    }

    .portfolio__data_item:first-child,
    .portfolio__data_item:nth-child(4){
        margin-left: 20px; }
}
/* Планшет
    Ширина экрана - 768px
    Ширина контейнера - 480px */
@media screen and (max-width: 768px) {
    .container {
        width: 480px;
    }
    .contacts__title{
        display: none;
    }
    .contacts__title-icon {
        &:before {
            display: inline-block;
        }
    }
    .contacts__detail{
        left: -140px;
        &:before {
            left: 150px;
        }
        &:after {
            left: 150px;
        }
    }
    .navigation {
        width: 100%;
    }

    .menu {
        text-align: justify;
    }

    .menu:after {
        content: '';
        height: 0;
        width: 100%;
        display: inline-block;
    }

    .menu__item {
        padding: 0;
        display: inline-block;
        font:bold 18px/18px FiraSans-Bold;
    }

    .menu__item.active {
        border-right: none;
        padding-right: 0;
    }

    .about-ava {
        margin-left: 28%;
        margin-bottom: 20px;
        max-width: 40%;
    }

    .about-description__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .about-description {
        display: block;
        width: 100%;
    }

    .career-description,
    .portfolio-description {
        width: 100%;
        padding-left: 0;
    }
    .career-description__data{
        width: 50%;
    }
    .career-description__title,
    .portfolio-description__title{
        text-align: center;
        font: normal 30px/30px FiraSans-Medium;
        margin-bottom: 30px;
    }
    .career-description__data_item{
        padding: 10px;
    }
    .career-description__data_item-position,
    .career-description__data_item-when {
        font: normal 14px/24px FiraSans-Light;
    }

    .career-description__data_item-where {
        font: normal 16px/24px FiraSans-Regular;
    }
    .portfolio__data_item {
        margin-left: 20px; }
}
/*Телефон
    Ширина экрана - 480px и меньше
    Ширина контейнера - 95% */

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
    }
    .contacts__title{
        display: none;
    }
    .contacts__title-icon{
        display: block;
    }
    .navigation {
        width: 100%;
    }

    .menu {
        text-align: justify;
    }

    .menu:after {
        content: '';
        height: 0;
        width: 100%;
        display: inline-block;
    }

    .menu__item {
        padding: 0;
        display: inline-block;
        min-height: 0;
        font:bold 16px/16px FiraSans-Bold;
    }

    .menu__item.active {
        border-right: none;
        padding-right: 0;
    }

    .about-ava {
        margin-left: 28%;
        margin-bottom: 20px;
        max-width: 40%;
    }

    .about-description__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .about-description {
        display: block;
        width: 100%;
    }

    .career-description__img{
        display: none;
    }
    .career-description__data{
        width: 65%;
    }
    .career-description,
    .portfolio-description {
        width: 100%;
        padding-left: 0;
    }
    .career-description__title,
    .portfolio-description__title{
        text-align: center;
        font: normal 25px/25px FiraSans-Medium;
        margin-bottom: 30px;
    }
    .career-description__data_item{
        padding: 10px;
    }
    .career-description__data_item-position,
    .career-description__data_item-when {
        font: normal 14px/24px FiraSans-Light;
    }

    .career-description__data_item-where {
        font: normal 16px/24px FiraSans-Regular;
    }
    .portfolio__data{
        text-align: center;
    }
    .portfolio__data_item{
        float: none;
    }
    .footer-text{
        display: none;
        line-height: $footer-height;
    }
}


